<form method="post" action="/login">
    <h2>Login.</h2>
    <label for="username">Username</label><br/>
    <input type="text" name="username" id="username"><br/>
    <label for="password">Password</label><br/>
    <input type="password" name="password" id="password"><br/>
    <button type="submit">Submit</button>
</form>
    {{#if error}}
    <p>{{error}}</p>
    {{/if}}