<div>
    <h2>Welcome {{this.firstName}} {{this.lastName}}</h2>
    <br/>
    <p>Here is some information about yourself:</p>
    <p>You are a {{this.profession}}</p>
    <h4>Biography</h4>
    <p>{{this.biography}}</p>

</div>