    <form method="post" id="static-form">
        <label for="palindrome">Palindrome Checker</label><br>
        <textarea name="palindrome" id="palindrome" cols="115" rows="10" value="{{testWord}}"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
        <div id="error-container" class="hidden">
        </div>
        <div>
            <ul id="list-palindrome">
            </ul>
        </div>
    <footer>
        <div>
            <ul id="student-info">
                <li>Name: Michael Pszonka</li>
                <li>Student ID: 10393431</li>
                <li>About me:  I am a Master in Computer Science Student</li>
            </ul>
        </div>
    </footer>